<IfModule mod_rewrite.c>
    RewriteEngine On
    Options +FollowSymlinks

#    RewriteCond %{HTTPS} !=on
#    RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
	
	RewriteRule ^auth$ index.php [L]
	RewriteRule ^change$ index.php?auth=Change [L]
	RewriteRule ^logout$ index.php?auth=Logout [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^reset/(.+)$ index.php?path_up=1&auth=Reset&reset=$1 [L]

	RewriteRule ^edit$ index.php [L]
	RewriteRule ^new$ index.php?new=New [L]
	RewriteRule ^select$ index.php [L]
	RewriteRule ^search$ index.php [L]
	RewriteRule ^([0-9]+)$ index.php?selected=$1 [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^search/(.+)$ index.php?path_up=1&search=$1 [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^entry/(.+)$ index.php?path_up=1&selected=$1 [L]

	# To do: Select by label
#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteCond %{REQUEST_FILENAME} !-d
#	RewriteRule ^label/(.+)$ index.php?path_up=1&label=$1 [L]
</IfModule>